
.formation ul{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0px;
}

.formation ul>li{
    margin:auto;
    position: relative;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(55, 70, 30);
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 0 4px black,
                0 0 0 6px gray;
    margin-bottom: 100px;
}


.formation ul>li:nth-child(1n+1)>.formation_content{
    position:absolute;
    right: -30px;
    background-color: rgb(55, 70, 30);
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    visibility: visible;
    opacity: 1;
    transition: 1.5s;
    transform: translateX(-50%) translateY(-50px);
}

.formation ul>li:nth-child(2n)>.formation_content{
    position:absolute;
    left: 450px;
    background-color: rgb(55, 70, 30);
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    visibility: visible;
    opacity: 1;
    transition: 1.5s;
    transform: translateX(-50%) translateY(-40px);
}
#compétences ul>li>img{
  padding-top: 20px;
}

#compétences ul>li:hover>.content{
    color: black;
    visibility:visible;
    opacity: 0.9;
    transform: translateX(-50%) translateY(0px);
}

#compPro{
    background-color: darkolivegreen;
    width: 50%;
    margin: 5%;
}

#compPer{
    background-color: darkolivegreen;
    width: 50%;
    margin: 5%;
}

#imageComp{
    padding-top: 10px;
    height: 150px;
    padding-right: 20px;
}