#formation ul{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0px;
}

#formation ul>li{
    margin:auto;
    position: relative;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #3A4556;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 0 0 4px rgb(21, 32, 43),
                0 0 0 6px gray;
    margin-bottom: 100px;
}


#formation ul>li:nth-child(1n+1)>#formation_content{
    position:absolute;
    right: -30px;
    background-color: rgb(21, 32, 43);
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    visibility: visible;
    opacity: 1;
    transition: 1.5s;
    transform: translateX(-50%) translateY(-50px);
}

#formation ul>li:nth-child(2n)>#formation_content{
    position:absolute;
    left: 450px;
    background-color: rgb(21, 32, 43);
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    visibility: visible;
    opacity: 1;
    transition: 1.5s;
    transform: translateX(-50%) translateY(-40px);
}

@media(max-width:1000px) {
    #formation ul{
        padding: auto;
    }

    #formation ul>li{
        margin:auto;
        position: relative;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgb(21, 32, 43);
        border-radius: 50px;
        transition: 0.5s;
        cursor: pointer;
        box-shadow: 0 0 0 4px black,
                    0 0 0 6px gray;
        margin-bottom: 100px;
    }

    #formation_content{
        position:absolute;
        right: 0px;
        left: 0px;
        background-color: rgb(21, 32, 43);
        width: 500px;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 4px;
        visibility: visible;
        opacity: 1;
    }
    
    #formation ul>li:nth-child(2n)>#formation_content{
        right: 0px;
        left: 0px;
        position:absolute;
        background-color: rgb(21, 32, 43);
        width: 400px;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 4px;
        visibility: visible;
        opacity: 1;
    }
}
#formation{
    margin-bottom: 50px;
}