#loisirs li{
    height: 410px;
}
#loisirs ul li{
    display: inline-block;
}

@media(max-width:767px) {
    #loisirs ul li{
        display: table-row;
    }
}

#loisirs #jeux_video{
    background-image: url("../img//jeux-vidéos.jpg");
}

#loisirs div{
    position: relative;
    width: 400px;
    float: left;
    margin: 4px;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

#loisirs #sport{
    background-image: url("../img/musculation.jpg");
}

#loisirs #lecture{
    background-image: url("../img/lecture.jpg");
}

#loisirs #piano{
    background-image: url("../img/piano.jpg");
}



#loisirs div:hover{
    background-size: 110%;
}

#loisirs div:after{
    position: absolute;
    top: 95%;
    bottom: 0;
    left: 0;
    right: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    color: white;
    padding: 0 8px;
    background-color: rgba(0, 0, 0, 0.6);
    content:attr(data-text);
    font-size: larger;
    transition: 0.75s;
}

#loisirs div:hover:after{
    top: 0;
    padding: 8px;
}

#loisirs{
    margin-bottom: 40px;
}