@media(min-width:767px) {
    #compétences{
        margin: auto;
        width: 89%;
        text-align: center;
        display:flex;
    }
}

@media(max-width:1000px) {
    #compétences{
        margin: auto;
        width: 89%;
        text-align: center;
        display: inline;
    }
    #compétences #compPro{
        margin: auto;
        width: 80%;
    }

    #compétences #compPro ul li #content{
        margin: auto;
    }

    #compétences #compPer{
        margin: auto;
        width: 80%;
    }

    #compétences #compPer ul li{
        display: list-item;
        list-style: none;
    }
}

#compétences ul>li{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tooltip {
    position: relative;
}

#compétences ul>li #content{
    visibility: hidden;
    width: auto;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 12px 4px 12px;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 48%;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: rgb(21, 32, 43);
    transition: 0.5s;
    transform: translateX(-50%) translateY(-50px);
}


#compétences ul>li h2{
    text-align: center;
}
#compétences ul>li>img{
  padding-top: 20px;
}

#compétences ul>li:hover #content{
    padding: auto;
    color: white;
    visibility:visible;
    opacity: 0.9;
    transform: translateX(-50%) translateY(0px);
}

#compPro{
    background-color: #3A4556;
    width: 45%;
    margin: 5% 0% 5% 5%;
}

#compPro ul{
    margin-right: 10px;
    margin-left: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background: var(--bg-color3);
    border-radius: 25px 25px 0px 0px;
    background: #0F1626;
}

#compPer{
    background-color: #3A4556;
    width: 50%;
    margin: 5%;
}

#imageComp{
    padding-top: 10px;
    height: 150px;
    padding-right: 20px;
}