body{
    background-color: #2D3848;
    margin: 0px;
    color: beige;
}

header{
    background-color: #3A4556;
    height: 200px;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 50px;
}

header button{
    background-color: #3A4556;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
a{
    color:white;
}
#menu>ul{
    padding: 0px;
    width: 100%;
    background-color: #3A4556;
}

#menu>ul>a>li{
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
    width: 24%;
    text-align: center;
    font-size: 25px;
}

#menu>ul>a>li:hover{
    background-color: rgb(21, 32, 43);
}

#moi,#formation, #loisirs{
    background-color: #3A4556;
    margin: auto;
    width: 80%;
    text-align: center;
}

#moi{
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#moi p{
    font-size: large;
}
#git, #linkedIn, #phone{
    height: 40px;
}

#contact{
    position: fixed;
    width: 125px;
    height: 80px;
    border-radius: 8px;
    background-color: rgb(21, 32, 43);
}
#contact h1{
    text-align: center;
}
#contact p{
  visibility: hidden;
}

#contact:hover{
    height: 220px;
    width: 250px;
    border-radius: 8px;
    background-color: rgb(21, 32, 43);
    transition: 0.5s;
}

#contact:hover p{
    visibility:visible;
    font-size: 21px;
}

@media(max-width:1000px) {      
    #contact{
        position: fixed;
        width: 150px;
        height: 100px;
        border-radius: 8px;
        background-color: rgb(21, 32, 43);
    }
    #contact h1{
        text-align: center;
        font-size: x-large;
    }
    #contact p{
    visibility: hidden;
    }

    #contact:hover{
        height: 300px;
        width: 400px;
        border-radius: 8px;
        background-color: rgb(21, 32, 43);
        transition: 0.5s;
    }

    #contact:hover p{
        visibility:visible;
        font-size: xx-large;
    }
}